<div class="questionTile">
  <li>
    {{#link-to 'question' question.id}}{{question.text}}{{/link-to}}
    Asked By {{question.author}}
    <p>{{totalAnswers}}</p>
    <button class="btn btn-xs btn-info"><span class="glyphicon glyphicon-star"></span>Favorite</button>
  </li>
</div>
