<div class="favorites">
  <h2>Your list of Warm and Fuzzies</h2>
  {{#each favoriteList.favorite as |favorite|}}
    <div class="col-sm-3">
      {{#link-to 'question' favorite.id}}<p>{{favorite.text}}: {{favorite.author}}</p>{{/link-to}}
      <button class="btn btn-xs btn-danger" {{action 'removeFavorite' favorite}}><span class="glyphicon glyphicon-trash"></span>Remove</button>
    </div>
  {{/each}}
</div>
