<h1> Black on Foxtrots Message Boards</h1>

<p> Welcome to our community of Oregon Army National Guard Soldiers.  These message boards are a place for soldiers to ask questions and recieve answers from fellow guardsmen regarding anything from Army Regulations, tips on leadership, hints on training, deployment experiences, and anything else that a citizen soldier may encounter during their time in our organization</p>
