<div class="container">
  <header>
    <div class="jumbotron">
      <div class="container">
        <h1>{{#link-to 'index'}}BLACK ON FOXTROTS{{/link-to}}</h1>
        <h2>Seize the Weekend Blue Falcons!!!</h2>
      </div>
    </div>
  </header>



      {{outlet}}
    <hr>
    <footer>
      {{#link-to 'about'}}Learn About Us{{/link-to}}
      {{#link-to 'contact'}}Contact Us With Your Feedback{{/link-to}}


    </footer>
</div>
