<p> Contact our administrators with any questions or concerns you may have regarding our message boards</p>

<p>We actively monitor our message boards for inappropriate comments.  That being said, this is a site for soldiers.  Swearing and inappropriate language is allowed, and at times even encouraged.  The only content that we will delete are OPSEC violations, ie. dates and locations of training events or any other military operations.  Everything else is fair game!</p>

<p>Email our Admin SapperCDR at krause197@gmail.com</p>
