<h1> Welcome to the Black on Foxtrots Message Board</h1>

<p> A site for all your questions regarding the Oregon Army National Guard</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{show-favorites}}

{{new-question saveQuestion2="saveQuestion3"}}
